@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
	font-family: 'GmarketSansMedium';
	background-color: #F7F6F2;
}
.nav-color {
	background-color: #F0E5CF;
}
.username {
	margin: auto 10px;
}
.wrap {
	width: 60%;
	margin: 50px auto;
}
.web-title {
	margin-bottom: 50px;
}
.th-color {
	background-color: #F0E5CF;
}
tr {
	background-color: white;
}
.page-link {
	color: black;
}
.page-link:hover {
	color: gray;
}
.login-btn {
	color: white;
	background-color: #4B6587;
	padding: 10px;
}
.login-btn:hover {
	background-color: #C8C6C6;
}
.btn-color {
	color: #5D5D5D;
	background-color: #F0E5CF;
	padding: 10px;
}
.btn-color:hover {
	background-color: #C8C6C6;
}

/* board detail */
.jumbotron {
	padding: 20px 10px 10px 10px;
	min-height: 500px;
	
}
/* comment */
.speech-bubble-yellow {
	min-height: 50px;
	padding: 15px;
	position: relative;
	background: #f0e5cf;
	border-radius: .8em;
}

.speech-bubble-yellow:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #f0e5cf;
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
	margin-left: -20px;
}
.speech-bubble-white {
	min-height: 50px;
	padding: 15px;
	position: relative;
	background: #ffffff;
	border-radius: .8em;
}

.speech-bubble-white:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #ffffff;
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
	margin-left: -20px;
}
.comment-meta-font {
	font-size: 5px;
	color: #C8C6C6;
	text-align: right;
	margin-top: 2px;
}