@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html, body {
	font-family: 'GmarketSansMedium';
	height: 100%;
	color: #5D5D5D;
	background-color: #F7F6F2;
}

body {
	display: flex;
	justify-content:center; 
	align-items : center;
}

.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}

.form-signin .checkbox {
	font-weight: 400;
}

.form-signin .form-floating:focus-within {
	z-index: 2;
}

.form-signin input {
	margin-bottom: 10px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.logo {
	margin-bottom: 50px;
	align-content: center;
}
.btn-color {
	color: #5D5D5D;
	background-color: #F0E5CF;
	padding: 15px;
}
.btn-color:hover {
	color: white;
	background-color: #C8C6C6;
}

/*join*/
.form-join {
	width: 100%;
	max-width: 500px;
	padding: 15px;
	margin: auto;
}

.Join-btn {
	margin-top: 10px;
	color: #5D5D5D;
	background-color: #F0E5CF;
	padding: 15px;
}

.Join-btn:hover {
	color: white;
	background-color: #C8C6C6;
}